

#home {
    padding: 80px 50px 0px 50px;
    background-image: url(../img/fundo-aratech-informatica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 88vh;
}

#home h1 {
    font-size: 50px;
    padding-left: 80px;
    color: white;
}

#home .home-sobre {
    max-width: 680px;
    font-size: 20px;
    margin-block: 20px;
    padding: 40px 20px 40px 50px;
    background-color: #133e6881;
    color: white;
    font-weight: bold;
}

#home .seta {
    max-width: 700px;
    text-align: end;
}

#home .seta svg {
    color: white;
    width: 48px;
}
