* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: aliceblue;
}

#cabecalho {
    background-color: #133E68;
    min-height: 10vh;
}

#cabecalho nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}



#menu {
    display: flex;
    align-items: center;
    gap: 16px;
}

#menu a {
    color: white;
}

#principal {
    display: flex;
    flex-direction: column;
}

#home {
    padding: 80px 50px 0px 50px;
    background-image: url(../img/fundo-aratech-informatica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 88vh;
}

#home h1 {
    font-size: 50px;
    padding-left: 80px;
    color: white;
}

#home .home-sobre {
    max-width: 680px;
    font-size: 20px;
    margin-block: 20px;
    padding: 40px 20px 40px 50px;
    background-color: #133e6881;
    color: white;
    font-weight: bold;
}

#home .seta {
    max-width: 700px;
    text-align: end;
}

#home .seta svg {
    color: white;
    width: 48px;
}

#sobre {
    background-image: url(../img/fundo-sobre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    background-color: #133e68e7;
    max-width: 660px;
    margin: 15px 50px;
    color: white;
    padding: 20px;
    text-align: justify;
}

.card h2 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.card p {
    margin-block: 20px;
}



#cursos {
    background-color: #0f5397;
    color: white;
    padding: 50px 100px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#cursos h2 {
    font-size: 50px;
}

#cursos .cursos-ti {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#cursos .curso {
    background-color: aliceblue;
    width: 400px;
    padding: 20px;
    color: black;
    border: 3px solid black;
    box-shadow: -2px 4px 0px 3px;
    text-align: justify;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

#cursos .curso:hover {
    transform: translate(5px, -5px);
}

#cursos .curso div {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

#cursos .curso img {
    width: 50px;
}

#cursos .curso ul {
    list-style: auto;
}

#cursos .curso:nth-child(1) h3 {
    color: #0E5952;
}

#cursos .curso:nth-child(2) h3 {
    color: #1D5074;
}

#cursos .curso:nth-child(3) h3 {
    color: #A92121;
}

#cursos .curso:nth-child(4) h3 {
    color: #133BDF;
}

#cursos .curso:nth-child(5) h3 {
    color: #DAA520;
}

#cursos .curso:nth-child(6) h3 {
    color: #FF4500;
}

#planos {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #004067, #006337);
    padding: 20px;
}

#planos div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
    color: white;
}

#planos div h2 {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.tabela table {
    width: 70vw;
    height: 50vh;
    color: black;
}

.tabela table,
.tabela th,
.tabela caption,
.tabela tr,
.tabela td {
    border-collapse: collapse;
    text-align: center;
    border: 2px solid black;
    background-color: rgb(236, 251, 255);
}

.tabela th,
.tabela tr,
.tabela td {
    padding: 10px;
}

.tabela img {
    width: 40px;
    transition: 0.2s ease-in-out;
}

.tabela tbody td:hover img {
    width: 40px;
    transform: translate(4px, -4px);
}



.tabela caption {
    background-color: #133E68;
    color: white;
    border-bottom: none;
    padding: 5px;
}


.tabela tbody td:nth-child(1),
.tabela thead th {
    background-color: #0b619e;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.tabela thead th:first-child,
.tabela tbody tr:last-child td:first-child {
    background-color: inherit;
    color: black;
}

.tabela a {
    display: block;
    background-color: #133E68;
    padding: 10px 20px;
    color: white;
    border: 2px solid #133E68;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: -4px 4px 0px 2px black;
    transition: 0.3s ease-in-out;
}

.tabela a:hover {
    transform: translate(5px, -5px);
}


#rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    height: 10vh;
    background-color: #133E68;
    color: white;
}




.nav-list {
    position: relative;
    display: flex;
    flex-direction: row;
}

.nav-list .menu-button {
    cursor: pointer;
    padding: 10px;
}

.nav-list .menu-button div {
    height: 3px;
    width: 25px;
    background-color: white;
    position: relative;
    display: none;
    transition: 0.2s ease-in;
}

.nav-list .menu-button div::before,
.nav-list .menu-button div::after {
    content: "";
    height: 3px;
    width: 25px;
    background-color: white;
    position: absolute;
}

.nav-list .menu-button div::before {
    top: -8px;
    transition: 0.2s ease-in;
}

.nav-list .menu-button div::after {
    top: 8px;
    transition: 0.2s ease-in;
}

@media(max-width: 800px) {
    #menu {
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #133E68;
        width: 200px;
        height: 300px;
        padding-block: 20px;
        left: 100px;
        top: 60px;
        transition: 0.3s ease-in-out;
    }



    .nav-list .menu-button div {
        display: block;
    }

    #menu.active {
        left: -120px;
        top: 60px;
    }

    .menu-button.active div {
        background-color: inherit;
        transform: rotate(45deg);
    }

    .nav-list .menu-button.active div::before {
        top: 0;
        transform: rotate(90deg);
    }

    .nav-list .menu-button.active div::after {
        top: 0;
        transform: rotate(0deg);
    }
}