#home {
    padding: 160px 50px 0px 50px;
    background-image: url(../img/images-alt/home-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 100vh;
}

#home .home-card {
    max-width: 700px;
}

#home h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}


#home .home-sobre {
    font-size: 20px;
    margin-block: 20px;
    padding: 40px 20px 40px 50px;
    background-color: #000000c5;
    color: white;
    font-weight: bold;
    text-align: justify;
}

#home .seta {
    text-align: end;
}

#home .seta svg {
    color: white;
    width: 48px;
    transition: 0.3s ease-in-out;
}

#home .seta svg:hover {
    transform: translateY(10px);
}