#planos {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #000000, #363232);
    padding: 150px 100px;
}

#planos div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
    color: white;
    text-align: justify;
}

#planos div p:last-child {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}

#planos div h2 {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}


.tabela table {
    color: black;
}

.tabela table,
.tabela th,
.tabela caption,
.tabela tr,
.tabela td {
    border-collapse: collapse;
    text-align: center;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
}

.tabela th,
.tabela tr,
.tabela td {
    padding: 10px;
}

.tabela img {
    width: 40px;
    transition: 0.2s ease-in-out;
}

.tabela tbody td:hover img {
    transform: translate(4px, -4px);
}



.tabela caption {
    background-color: #000000;
    color: white;
    border-bottom: none;
    padding: 5px;
}


.tabela tbody td:nth-child(1),
.tabela thead th {
    background-color: #141313;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.tabela thead th:first-child,
.tabela tbody tr:last-child td:first-child {
    background-color: inherit;
    color: black;
}

.tabela a {
    display: block;
    background-color: #615f5f;
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: -4px 4px 0px 2px rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
}

.tabela a:hover {
    transform: translate(5px, -5px);
}