@media(max-width: 1000px) {
    #rodape {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    #rodape>div {
        border-right: none;
        border-bottom: 2px solid white;
    }
}