@media(max-width: 1000px) {
    #menu {
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #133E68;
        width: 200px;
        height: 400px;
        padding-block: 20px;
        left: 100px;
        top: 60px;
        transition: 0.3s ease-in-out;
    }

    .nav-list .menu-button div {
        display: block;
    }

    #menu.active {
        left: -100px;
        top: 60px;
    }

    #cursos .curso {
        width: 350px;
    }

    #contato .contato-main {
        display: flex;
        flex-direction: column;
    }

    #contato img {
        width: 100%;
        border-radius: 8px;
    }

    .menu-button.active div {
        background-color: inherit;
        transform: rotate(45deg);
    }

    .nav-list .menu-button.active div::before {
        top: 0;
        transform: rotate(90deg);
    }

    .nav-list .menu-button.active div::after {
        top: 0;
        transform: rotate(0deg);
    }
}

@media(max-width: 600px) {

    .tabela th,
    .tabela tr,
    .tabela td {
        font-size: 12px;
        padding: 8px;
    }

    .tabela img {
        max-width: 25px;
        transition: 0.2s ease-in-out;
    }

    .tabela a {
        padding: 5px;
        border-radius: 6px;
        border: 2px solid black;
        box-shadow: -2px 2px 0px 1px black;
    }
}