@media(max-width: 1000px) {
    #rodape {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .redes-sociais ul {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
}