#rodape {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    flex-direction: row;
    padding: 20px;
    min-height: 10vh;
    background-color: #bcbcc0;
    color: rgb(0, 0, 0);
    gap: 10px;
    font-size: 12px;
}

#rodape>div {
    border-right: 2px solid rgb(241, 229, 229);
    padding: 10px;
    width: 100%;
}

#rodape .termos {
    border: none;
}

#rodape .termos h5 {
    display: inline-block;
    margin-bottom: 10px;
    transition: 0.3s ease;
}

#rodape>div:last-child {
    border: none;
}


.noticias {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.titulo-rodape {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.noticias ul li {
    text-decoration: underline;
    transition: 0.2s ease-in-out;
    margin-block: 10px;
}

.noticias ul li:hover,
.termos h5:hover {
    color: rgb(247, 208, 35);
}

.endereco p {
    margin-block: 10px;
}


.redes-sociais img {
    width: 35px;
}

.redes-sociais ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.redes-sociais a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
    border: 2px solid #BCBCC0;
    border-radius: 4px;
}

.redes-sociais li {
    display: inline;
}

.redes-sociais a:hover {
    background-color: #ffffff;
    border: 2px solid #000000;
}