#termos-uso {
    padding: 150px 50px 50px 50px;
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    background-color: rgb(205, 222, 228);
}

#termos-uso h2 {
    margin-block: 10px;
}

#termos-uso p {
    text-align: justify;
    margin-block: 5px;
}